{% extends 'capstone/base.html' %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'capstone/style.css' %}">

{% block content %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <title>Capstone - About</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
	body {
	font-family: 'Trebuchet MS';
  	}
   	h1 {
	font-size: 35px;
	padding: 20px 50px;
     	text-align: center;
   	}
	h2 {
	font-size: 25px;
	text-align: center;
	}
    h3 {
        font-size: 20px;
        text-align: center;
    }
    	.container {
      	background-color: #cfe2cf;
     	padding: 20px 50px;
     	border-radius: 20px;
	margin-top: 20px;
	}
	a:link {
      	color: #437043;
      	background-color: transparent;
      	text-decoration: none;
    	}
    	a:visited {
      	color: #660066;
      	background-color: transparent;
      	text-decoration: none;
    	}
	.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	}
        </style>
    </head>
    <body>
        <h1 style="text-align: center;"><b>About the Project</b></h1>
	<div class="container">
		<h2> EPCIS and the Supply Chain</h2>
		<p> <a href="https://www.gs1.org/standards/epcis">EPCIS</a>, <i>Electronic Product Code Information Services</i>, is a newer technology for tracking items as they flow through the world. 
		This can mean when something is created, modified, mixed, destroyed, and more. 
		EPCIS is a standard for tracking events related to objects.
		An EPC, <i>Enterprise Product Code</i>, identifier is a globally unique identifier that tracks individual items. </p>
		<p> Supply chains can benefit greatly from a detailed distributed tracker.
		For example, recalls are extremely common. Whether it's a car's defective airbag or a contaminated batch of produce, suppliers will be able to track every "event" of an item. 
		This can also build trust with consumers who want to know where a product truly comes from.</p>
		<hr style="width:50%">
		<h2>IOTA</h2>
		<p> <a href="https://www.iota.org">IOTA</a> is a distributed ledger that focuses on exchanging data and values. 
		IOTA is a fairly new technology but is already being used by companies. IOTA's network, the Tangle, immutably records the exchange of data and value. 
		From IOTA's website, "It ensures that the information is trustworthy and cannot be tampered with nor destroyed."</p>
		<hr style="width:50%">
		<h2> Capstone Project </h2>
		<p> A group of 7 students from Portland State University has been assigned the project by a sponsor who specializes in scanners.</br>
		There are 3 major components of this project:
		<dl>
		<dt>Mobile Android App</dt>
		<dd>- A mobile application that can scan barcodes and produce EPCIS events </dd>
		<dt>Query Web App</dt>
		<dd>- A web app that takes user input (EPC) and retrieves the corresponding data in a parsed view </dd>
		<dt>REST API</dt>
		<dd>- An API that connects to the IOTA tangle; both mobile and web apps use the API to interact with the tangle, whether to retrieve or add </dd>
		<dd>- Note the DevNet clears tangle messages weekly. Because of this we clear our database daily. We also send up new events daily. This ensures that there will always be viewable events for our webapp.</dd>
		</dl>
        <h3> <a href="https://sites.google.com/pdx.edu/bruceirvin/capstone">More Information on PSU Capstone</a></h3>
	</div>
    </body>
</html>
{% endblock %}