{% extends 'capstone/base.html' %}

{% load static %}
{% load custom_tags %}

<link rel="stylesheet" type="text/css" href="{% static 'capstone/style.css' %}">

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Capstone - BizSteps List</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    body {
      font-family: 'Trebuchet MS';
    }
    a:link {
      color: #437043;
      background-color: transparent;
      text-decoration: none;
    }
    a:visited {
      color: #660066;
      background-color: transparent;
      text-decoration: none;
    }
    h1 {
    margin-top: 25px;
    }
    tr:hover {
      background-color: #cfe2cf;
    }
    .center {
      margin-left: auto;
      margin-right: auto;
      max-width: 700px;
      margin-top: 25px; 
    }
    </style>
</head>
<body>

<h1 style="text-align:center;"><b>Entire Battery History</b></h1>

<table class="table center table-bordered">
{% for step in list %}
<tr>
<td>
<a href="{% url 'bizsteps' %}{{ step|pre }}"> {{ step|remove_pre }} </a>
</td>
</tr>
{% endfor %}
</table>

</body>
</html>
{% endblock %}
