{% extends 'capstone/base.html' %}

{% load static %}
{% load custom_tags %}

<link rel="stylesheet" type="text/css" href="{% static 'capstone/style.css' %}">

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Capstone - EPC List</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    body {
      font-family: 'Trebuchet MS';
    }
    a:link {
      color: #437043;
      background-color: transparent;
      text-decoration: none;
    }
    a:visited {
      color: #660066;
      background-color: transparent;
      text-decoration: none;
    }
    h1 {
    margin-top: 25px;
    }
    tr:hover {
      background-color: #cfe2cf;
    }
    .center {
      margin-left: auto;
      margin-right: auto;
      max-width: 700px;
      margin-top: 25px; 
    }
    </style>
</head>
<body>

<h1 style="text-align:center;"><b>All Product Codes</b></h1>

<table class="table center table-bordered">
{% for epc in epc_list %}
<tr>
<td>
{% if 'sgtin' in epc %}
<a href="{% url 'search-id-sgtin' %}{{ epc |getCode }}"> {{ epc }} </a>
{% elif 'grai' in epc  %}
<a href="{% url 'search-id-grai' %}{{ epc |getCode }}"> {{ epc }} </a>
{% elif 'sscc' in epc  %}
<a href="{% url 'search-id-sscc' %}{{ epc |getCode }}"> {{ epc }} </a>
{% elif 'giai' in epc  %}
<a href="{% url 'search-id-giai' %}{{ epc |getCode }}"> {{ epc }} </a>
{% endif %}
</td>
</tr>
{% endfor %}
</table>

</body>
</html>
{% endblock %}
