{% extends 'capstone/base.html' %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'capstone/style.css' %}">

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Capstone - Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    body {
      font-family: 'Trebuchet MS';
    }
    h1 {
      font-style: bold;
      font-size: 35px;
      padding: 20px 50px;
    }
    h2 {
      font-size: 25px;
    }
    .container {
      padding: 20px 20px;
      text-align: center;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    .button1 {
    background-color: white;
    color: #609F60;
    border-radius: 5%;
    border: 1px solid #609F60;
    padding: 10px 15px;
    transition-duration: 0.3s;
  }
  .button1:hover {
      background-color: #609F60;
      color: white;
      text-decoration: none;
  }
  </style>
</head>
<body>

<h1 style="text-align:center;"><b> Schrodinger Motors EPCIS Events Search</b></h1>
<h2 style="text-align:center;">Capstone 2021-2022</h2>
<div class="container">
<p> Our web application allows users to search for EPCIS events based on a URN code. <br> Select the identifier you wish to search for: </p>
</div>

<div class="card-group">
  <div class="card" style="text-align: center;">
    <div class="card-body">
      <h5 class="card-title">Serialized Global Trade Item Number</h5>
      <p class="card-text">SGTIN</p>
      <a href="{% url 'search-id-sgtin' %}" class="button1">Take me there</a>
    </div>
  </div>
  <div class="card" style="text-align: center;">
    <div class="card-body">
      <h5 class="card-title">Serial Shipping Container Code</h5>
      <p class="card-text">SSCC</p>
      <a href="{% url 'search-id-sscc' %}" class="button1">Take me there</a>
    </div>
  </div>
  <div class="card" style="text-align: center;">
    <div class="card-body">
      <h5 class="card-title">Global Returnable Asset Identifier</h5>
      <p class="card-text">GRAI</p>
      <a href="{% url 'search-id-grai' %}" class="button1">Take me there</a>
    </div>
  </div>
  <div class="card" style="text-align: center;">
    <div class="card-body">
      <h5 class="card-title">Global Individual Asset Identifier</h5>
      <p class="card-text">GIAI</p>
      <a href="{% url 'search-id-giai' %}" class="button1">Take me there</a>
    </div>
  </div>
</div>

<div class="container">
  <p> </br>You are also able to see all events of a specific "business step" for the batteries such as shipping, inspecting, and more. "BizStep" specifies which business process step took place that caused the event to be captured. </p>
  </div>
  <div class="container">
  <div class="card border-light mb-3" style="min-width: 16rem;">
      <div class="card-body">
        <h5 class="card-title">Entire Battery History</h5>
        <p class="card-text">View Battery History sorted by business step</p>
        <a href="{% url 'bizsteps' %}" class="button1">Take me there</a>
      </div>
    </div>
  </div>

</body>
</html>
{% endblock %}
