{% extends 'capstone/base.html' %}

{% load static %}
{% load custom_tags %}

<link rel="stylesheet" type="text/css" href="{% static 'capstone/style.css' %}">

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Capstone - BizStep</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    body {
      font-family: 'Trebuchet MS';
    }
    h1 {
      font-size: 35px;
      padding: 20px 50px;
      text-align: center;
    }
    .container {
      background-color: #cfe2cf;
      padding: 20px 50px;
      border-radius: 20px;
      margin-top: 20px;
    }
    .form-inline {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      padding: 15px;
      margin-left: 50px;
      margin-right: 50px;
    }
    a:link {
      color: #437043;
      background-color: transparent;
      text-decoration: none;
    }
    a:visited {
      color: #660066;
      background-color: transparent;
      text-decoration: none;
    }
    input[type=text] {
      padding: 10px;
      box-shadow: 0 0 15px 4px rgba(0,0,0,0.07); 
    }
    .button1 {
      background-color: white;
      color: #609F60;
      border-radius: 5%;
      border: 1px solid #609F60;
      padding: 10px 15px;
      transition-duration: 0.3s;
    }
    .button1:hover {
      background-color: #609F60;
      color: white;
      text-decoration: none;
    }
    .previous {
      background-color: #f1f1f1;
      color: black;
   }
   .next {
      background-color: #04AA6D;
      color: white;
   }
   .round {
      border-radius: 50%;
   }
   .inline {
	   display: flex;
     justify-content: space-evenly;
     align-items: center;
   }
    </style>
</head>
<body>
<h1><b>BizStep: {{ step_name|remove_pre }}</b></h1>
   <div class="container">
     {% if flag == 1 %} <p style="text-align: center;"> Please enter a valid business step. Take a look at all BizSteps <a href="{% url 'bizsteps' %}">here</a>.</p>
     {% else %}
        {% if body %}
        <p> Type: {{ body.type }} </p>
        <p> Creation Date: {{ body.creationDate }} </p>
        <p> Schema Version: {{ body.schemaVersion }} </p>
        <p> Format: {{ body.format }} </p>
        <p style="text-align: center;"><b>Event List</b> </p>
          {% for e in list %}
              <p> Type: {{ e.type }} </p>
              <p> Event Time: {{ e.eventTime }} </p>
              <p> Event Time-Zone Offset: {{ e.eventTimeZoneOffset }} </p>
              {% if e.parentID %}<p> Parent ID:
                {% if 'sgtin' in e.parentID %}
                <a href="{% url 'search-id-sgtin' %}{{ e.parentID |getCode }}"> {{ e.parentID }} </a> </p>
                {% elif 'grai' in e.parentID  %}
                <a href="{% url 'search-id-grai' %}{{ e.parentID |getCode }}"> {{ e.parentID }} </a> </p>
                {% elif 'giai' in e.parentID  %}
                <a href="{% url 'search-id-giai' %}{{ e.parentID |getCode }}"> {{ e.parentID }} </a> </p>
                {% elif 'sscc' in e.parentID  %}
                <a href="{% url 'search-id-sscc' %}{{ e.parentID |getCode }}"> {{ e.parentID }} </a> </p>
                {% endif %} {% endif %}
              <p> Event ID: {{ e.eventID }} </p>
              {% if e.childEPCs %} <p> Child EPCs: </p>
                {% for child in e.childEPCs %} <li>
                  {% if 'sgtin' in child %}
                  <a href="{% url 'search-id-sgtin' %}{{ child |getCode }}"> {{ child }} </a> </p>
                  {% elif 'grai' in child  %}
                  <a href="{% url 'search-id-grai' %}{{ child |getCode }}"> {{ child }} </a> </p>
                  {% elif 'giai' in child  %}
                  <a href="{% url 'search-id-giai' %}{{ child |getCode }}"> {{ child }} </a> </p>
                  {% elif 'sscc' in child  %}
                  <a href="{% url 'search-id-sscc' %}{{ child |getCode }}"> {{ child }} </a> </p>
                  {% endif %}</li> 
                {% endfor %}{% endif %}
              <p> Action: {{ e.action }} </p>
              <p> {% if e.bizStep %} BizStep: {{ e.bizStep }} {% endif %} </p>
              <p> {% if e.disposition %} Disposition: {{ e.disposition }} {% endif %}</p>
              <p> {% if e.bizLocation %} BizLocation ID: {{ e.bizLocation.id }} {% endif %}</p>
              <p> Read Point ID: {{ e.readPoint.id }} </p>
              <p> {% if e.childQuantityList %} Child Quantity List: </p>
              {% for child in e.childQuantityList %} <li>
                EPC Class: {{ child.epcClass}}, Quantity: {{ child.quantity }} {% if child.uom %}, UOM: {{ child.uom}} {% endif %}
              </li>{% endfor %} {% endif %}
	            <p> {% if e.inputEPCList %} Input EPC List: </p>
	              {% for input in e.inputEPCList %} <li>
                  {% if 'sgtin' in input %}
                  <a href="{% url 'search-id-sgtin' %}{{ input |getCode }}"> {{ input }} </a> </p>
                  {% elif 'grai' in input  %}
                  <a href="{% url 'search-id-grai' %}{{ input |getCode }}"> {{ input }} </a> </p>
                  {% elif 'giai' in input  %}
                  <a href="{% url 'search-id-giai' %}{{ input |getCode }}"> {{ input }} </a> </p>
                  {% elif 'sscc' in input  %}
                  <a href="{% url 'search-id-sscc' %}{{ input |getCode }}"> {{ input }} </a> </p>
                  {% endif %}</li>
                {% endfor %} {% endif %}
              <p> {% if e.outputEPCList %} Output EPC List: </p>
	              {% for output in e.outputEPCList %} <li>
                  {% if 'sgtin' in output %}
                  <a href="{% url 'search-id-sgtin' %}{{ output |getCode }}"> {{ output }} </a> </p>
                  {% elif 'grai' in output  %}
                  <a href="{% url 'search-id-grai' %}{{ output |getCode }}"> {{ output }} </a> </p>
                  {% elif 'giai' in output  %}
                  <a href="{% url 'search-id-giai' %}{{ output |getCode }}"> {{ output }} </a> </p>
                  {% elif 'sscc' in output  %}
                  <a href="{% url 'search-id-sscc' %}{{ output |getCode }}"> {{ output }} </a> </p>
                  {% endif %}</li>
                {% endfor %} {% endif %}
              <p> {% if e.bizTransactionList %} BizTranscationList: </p>
                  {% for trans in e.bizTransactionList %} 
                  <ul>
                    <li>Type: {{ trans.type }}, BizTransaction: <a href="{{ trans.bizTransaction }}">{{ trans.bizTransaction }}</a></li>
                    {% if trans.checksum %}
                    <ul>
                      <li><b>{{ trans.bizTransaction|verifyMd5:trans.checksum }}</b></li>
                    </ul>
                    {% endif %}
                  </ul>
                  {% endfor %} {% endif %}
                  <hr style="width:50%">
        {% endfor %}
	<div class="inline">
	{% if links.prev %}
	<button class="button1"><a href="{% url 'step' %}{{ links.prev|stepEncode }}"> Previous &raquo; </a> </button>
        {% endif %}
        {% if links.next %}
	<button class="button1"><a href="{% url 'step' %}{{ links.next|stepEncode }}"> Next &raquo; </a></button>
        {% endif %}
	</div>
        {% else %}
        <p style="text-align: center;"> Please enter a valid business step. Take a look at all BizSteps <a href="{% url 'bizsteps' %}">here</a>.</p>
        {% endif %}
      {% endif %}
  </div>
</body>
</html>
{% endblock %}
